{% extends 'base.html' %}
{% block title_block %}
delete student
{% endblock  %}

{% block content %}
    <h2>Do you want to delete student {{ student.first_name }} {{ student.last_name }}</h2>
    <div class="d-flex justify-content-between">
        <form method="POST" action=""> {% csrf_token %}
  
 
       <button type="submit" class="btn btn-danger">Comfirm</button> 
        </form>
  <a href="{% url 'student_detail' student.pk %}"><button type="button" class="btn btn-primary">Cancel</button></a> 

    </div>
 
{% endblock  %}